<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoPlayer"
        tools:targetApi="31">

        <activity
            android:name=".activity.Archos_Audio_FilesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.Archos_MediaFilesActivity"
            android:exported="false" />

        <activity
            android:name=".activity.Archos_MainActivity"
            android:exported="true" />

        <activity
            android:name=".activity.Archos_VideoPlayerActivity"
            android:configChanges="layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".activity.Archos_AudioPlayerActivity"
            android:configChanges="layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme_black" />

        <activity
            android:name=".activity.Archos_PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <activity
            android:name=".activity.Archos_SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.videoplayer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>